.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    text-align: center;
    fill: currentColor;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
  }
}

.clients__item {
  max-width: 210px;
  margin-bottom: 0;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 2 - 30px);

  @media screen and (min-width: $tablet) {
    max-width: 226px;
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: $desktop) {
    max-width: 170px;
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  max-width: 210px;
  box-sizing: border-box;
  border-radius: 4px;
  color: $icon-main-color;
  @include animation;
  @include border($icon-main-color);

  @media screen and (min-width: $tablet) {
    max-width: 226px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 170px;
  }

  &:hover,
  &:focus {
    outline: none;
    @include border($accent-color);
    color: $accent-color;
  }
}
