.footer {
  background-color: $dark-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-text {
  margin-bottom: 20px;
  font-style: normal;
  font-size: $main-font-size;
  line-height: $main-line-height;
  text-transform: uppercase;
  color: $primary-white-color;
}
