.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-right: 165px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: start;
  }
}

.footer__logo {
  color: $primary-white-color;
  display: block;
  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    margin-right: auto;
  }
}

.footer-address {
  font-weight: $secondary-font-weight;
  font-size: $main-font-size;
  line-height: 1.71;
  font-style: normal;
  width: 231px;

  &__home {
    color: $primary-white-color;
    margin-bottom: 8px;
  }

  &__mail {
    margin-bottom: 8px;
  }

  &__link {
    display: inline-block;
    height: 21px;
    color: $subscribe-form-color;
  }
}
