.contacts-header {
  font-style: normal;
  font-weight: 500;
  font-size: $main-font-size;
  line-height: $main-line-height;
  letter-spacing: 0.02em;
  color: inherit;
  display: flex;
  align-items: center;
  padding: 32px 0;
  fill:$main-text-color;

  @extend %animation;

  &--mail {
    margin-right: 50px;
    margin-left: auto;
  }

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
    outline: none;
    fill: $accent-color;
  }

  &__icon {
    margin-right: 10px;
  }
}
