.header {
  border-bottom: 1px solid $header-border-bottom-color;
  padding: 10px 0;

  &__container {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}
