.menu-button {
  z-index: 3;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background: $primary-white-color;
  color: $dark-color;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__icon {
    fill: currentColor;
    @include animation;
  }

  &:focus &__icon,
  &:hover &__icon {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
