html {
  box-sizing: border-box;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-weight: $main-font-weight;
  background-color: $primary-white-color;
  color: $main-text-color;
  font-family: $main-font-family;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; 
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}
