$main-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$dark-color: #000000;
$dark-bg-color: #2f303a;
$middle-bg-color: #f5f4fa;
$header-border-bottom-color: #ececec;
$gradient-bg-color: rgba(47, 48, 58, 0.4);
$hero-bg-color: rgba(47, 48, 58, 0.4);
$icon-bacground: #f5f4fa;
$icon-main-color: #afb1b8;
$subscribe-form-color: rgba(255, 255, 255, 0.6);

$main-font-weight: 700;
$secondary-font-weight: 400;

$main-line-height: 1.14;
$secondary-line-height: 1.17;

$tablet-font-size: 12px;
$main-font-size: 14px;
$secondary-font-size: 16px;

$main-font-family: 'Roboto', sans-serif;
$sec-font-family: 'Raleway', sans-serif;

$animation-duration: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);
